{% extends "./cafe_staff/base.html" %}

{% block styles %}
    <style>
        table{
            width: 100%;
            text-align: left;
        }

        td, th{
            margin: 0;
            padding: 5px;
            border: none;
        }

        tr:nth-child(even){
            background-color: #e8e8e8;
        }

        .search-field{
            float: right;
            margin-bottom: 20px;
        }

        .search-field input[type=submit]{
            padding: 7px;

            border-radius: 5px;
            outline: none;
            border: 1px solid black;
            background-color: black;
            color: white;
            font-weight: bold;

            cursor: pointer;
        }

        .search-field select{
            padding: 7px;
            width: 300px;
            border-radius: 7px;
            outline: none;
            border: 1px solid lightgrey;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="search-field">
        <form>
            <select name="q" required>
                <option value="">Choose Shift</option>
                {% for shift in shifts %}
                    <option value="{{ shift['shift'] }}">{{ shift['shift'] }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Search">
        </form>
    </div>
    <div>
        <table>
            <thead>
                <th>#</th>
                <th>Date</th>
                <th>Shift</th>
                <th></th>
            </thead>
            <tbody>
                {% for slot in work_slots %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ slot[1] }}</td>
                        <td>{{ slot[2] }}</td>
                        <td>
                            <a href="{{ url_for("boundary.staff.add_bid", work_slot_id=slot[0]) }}">Bid!</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}